/* GENERAL */
* {
    margin: 0;
    padding: 0;
  }
/* ========= */

/* HEADER */

.header__logos {
    object-fit: contain;
    display: flex;
    justify-content: space-between;
  }
  
  .header_derecha {
    margin-right: 10px;
    margin-top: 5px;
  }
  
  .logo_ferreteria {
    height: 13vh;
    width: 13vh;
  }
  
  .logo_ig {
    height: 6vh;
    width: 6vh;
    margin-right: 10px;
  }
  .logo_fb {
    height: 6vh;
    width: 6vh;
  }
  
  .navegadorWeb {
    height: 6%;
    background-color: brown;
    text-align: center;
    position: sticky;
  }
  
  .navegadorWeb ul {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: center;
  
  }
  .navegadorWeb ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 18px;
  }
  /* =================== */

  /* BODY INDEX*/
  .indexCuerpo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background-color: black;
  }
  
  .indexCuerpo img {
    margin: 18px;
    height: 80vh;
    width: 50%;
  
  }
  
  .indexCuerpo article h3{
    margin:18px;
    color: white;
    font-size: 30px;
  }
  
  .divDomicilios
  {
    background-color: #2C2C32;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .divDomicilios img{
    margin:10px;
    margin-right: 30px;
    border: 0px solid black;
    background-color: #25252B;
    padding: 10px;
  }
  
  .divDomicilios h2{
    padding: 10px;
    border: 0px solid black;
    background-color: #25252B;
    color:white;
    
  }

  /* BODY PRODUCTOS */
  .aviso{
    display: flex;
    justify-content: center;
    margin: 10px;
    border: solid 0px white;
    border-radius: 6px;
    background-color: #EB1B23;
    width: auto;
   
}

.aviso h3 {
    background-color: #901726;
    text-align: center;
    margin: 10px;
    color: white;
    padding: 5px;
    border-radius: 6px;
}

.imgs_productos
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.categorias{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    background-color: whitesmoke;
}

.categorias:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.categorias img{
  width: 15.6rem;
}

h4{
    border: solid 0px white;
    border-radius: 6px;
    background-color: grey;
    margin: 8px;
    text-align: center;
    color: white;
}
/* BODY UBICACION */
.titulo{
    display: flex;
    justify-content: center;
    border: solid 0px white;
    background-color: #EB1B23;
    width: auto;

}
.titulo h1{
    background-color: #901726;
    text-align: center;
    margin: 10px;
    color: white;
    padding: 5px;
    border-radius: 6px;
}
  .map_ubicacion{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #2C2C32;
  }

.seccionDireccion{
    display: flex;
    justify-content: center;
    background-color: #25252B;
}

.direccion
{
    color:white;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right: 25px;
    border: solid 1px gray;
    padding: 10px;
    background-color: #2C2C32;

}

.direccionHorario{
    color:white;
    margin-top: 10px;
    margin-bottom:10px;
    border: solid 1px gray;
    padding: 10px;
    background-color: #2C2C32;

}
    /* BODY CONTACTO*/
    .contacto{
        display: flex;
        justify-content: center;
    }
  .formulario {
      display: flex;
      justify-content: center;
      padding: 20px;
  }

  .formulario form{
      border: solid 0.5px grey;
      padding: 20px;

  }

  .formulario form hr {
      margin-top:10px;
      color:grey;
  }

  /* =================== */


  /* FOOTER */
  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: brown;
  }
  
  footer h3{
    margin: 3px;
    COLOR:white
  }